<div class="fullscreen">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <br>
      <br>
      <br>
     <h1 class="title">
        Closed Beta
     </h1>
     <p class="subtitle">
      Your website is on the waiting list.
     </p>

    <%= link_to "View Websites", websites_path, class: "button is-large is-primary" %>
    </div>
  </div>
</div>
