
      <img style="margin-left:40%;color:white" src="<%= image_path('join-us.png') %>">
      <h1 class="title">Footlight Console</h1>
      <h3 class="subtitle">
        Be the digital authority of your performing arts metadata.
      </h3>
      <p class="plain-font is-size-5">
        Footlight Console tools and notifications help you manage your performing arts event information on the web. 
        Get discovered across maps, apps, search engines, voice assistants and other AI-powered technology that drive discovery, decision and action. 
      </p>