
  <div class="fullscreen">
     <h1 class="title">
        Knowledge Graph
     </h1>
     <p class="subtitle">
       Browse events, places, organizations and people in a Canadian Knowledge Graph
     </p>
     <div class="field">

       <div class="control">
         <input class="input" type="text" placeholder="Search text">
       </div>

     </div>
     <p class="is-size-3"> Coming soon...</p>


  </div>
