<h1> Data Model for Footlight Console</h1>

<p> The data crawled by Footlight can be different for each website. </p>

<p> An Event meets minimum requirements when it has the following: 
- Title
- Start Date
- Location
</p>


<p> An Event is considered complete when it has the following recommended properties:
- Buy URL
- Event webpage URL
- Description
- Event status
- Attendance Mode
- Performed by
- Organized by
 </p>
