<% provide(:title, "License Agreement for #{@user.name}") %>

<div class="container content">

     
    <h3 class="title is-3">
        Contributor License Agreement
    </h3>
    <p>
        Thank you for your interest in contributing to the Artsdata.ca Initiative ("Project").
        This document clarifies the terms under which you, the person listed below, may make contributions to the Project that is published under the public domain using the CC0.
    </p>
    <p>
        By signing in, you accept and agree to the following terms and conditions for your present and future contributions that are submitted to the Project under the terms of this CLA.
    </p>

    <h4 class="title is-3">
        License
    </h4>
    <p>
    The Project is released under the terms of the Creative Commons Zero 1.0 Universal license. Through this license, all text, code and images published to artsdata.ca are waived.
    </p>
    <p>
    You certify that:
    </p>
    <p>
    Your contributions are either:
    </p>
    <p>
    <ol>
    <li> Created in whole or in part by you and you have the right to submit it under the designated license; or
    <li>  Based upon previous work that, to the best of your knowledge, is covered under an appropriate open source license and you have the right under that license to submit that work with modifications, whether created in whole or in part by you, under the designated license. 
    </ol>
    </p>
    <p>
    You understand and agree that the Project and your contributions are public and that a record of the contributions (including all metadata and personal information that you submit with them) is maintained indefinitely and may be redistributed where they are relevant.
    You are granting your contributions to Project members under the terms of the Creative Commons Zero 1.0 Universal license - in effect, you waive all copyright and related or neighboring rights to the text, code or documents that you contribute to the fullest extent possible under law.
            </p>     

  </div>
