
<footer class="footer">
  <div class="container has-text-centered">
    <p>
      <a href="http://www.culturecreates.com">Footlight</a> is powered by data from <a href="http://artsdata.ca">Artsdata.ca</a>.
    </p>
  </div>
</footer>
